body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
/* nav */
.nav{
    width:100%;
    justify-content: space-between;
    padding: 0px 150px;
    background-color: #0B9586;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    top:0;
    z-index:1000
}

.nav img{
    width: 157px;
    height: 42px;
    border-radius: 5px;
}
.nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li{
    list-style-type:none;
    margin: 0 8px; 
    /* color: inherit; */
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 28px;
    margin: 8px;
}
.nav ul li a[href*='home']{
    border-radius: 5px;
    border: #02baa4ca 1px solid;
}
.contact-info {
    flex-direction: column;
    padding:0 10px;
}
.contact-info .label{
    margin-left: 10px;
}
.contact-info .phone{
    font-weight: bolder;
    font-size:large;
}
@media (max-width: 768px) {
    .nav{
        padding: 0px 10px;
    }
    .nav ul{
        display: none;
    }
}
/* nav */
/* header */
header{
  background-image: url("./images/solar-panels-meadow 1.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px; /* As per your requirements */
  display: flex; /* Allows layout alignment */
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center; /* Centers content vertically */
  align-items: start; /* Centers content horizontally */
  color: white;
  padding: 0 2rem;

}
.progres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-left: 150px;
}

.progres > span {
    flex: 0 0 auto;
    font-size: 16px; 
}

.progres > div {
    display: flex;
    flex: 1; /* Take up remaining width between spans */
    align-items: center;
    height: 20px; /* Adjust height as needed */
    margin: 0 10px; 
}

.progres > div span {
    flex: 1; /* Each span will share available width equally */
    height: 5px;
    box-sizing: border-box; /* Include borders in size */
    border-radius: 2px;
}

.progres > div .filled {
    background-color: white;
}

.progres > div .empty {
    background-color: rgba(5, 5, 5, 0.3); /* Example fill for visibility */
}

header .panel{
    max-width: 729px;
    max-height:100vh;
    margin-left: 150px;
    padding: 10px;
    margin-top: 40px;
}
.panel h1{
    font-weight: 600px;
    font-size: 52px;
    line-height: 62.93px;
    letter-spacing: -2px;
    font-family: "Inter";
    margin-top: 20px;
}

.panel p{
    font-family: "Inter";
    font-weight: 600px;
    font-size: 20px;
    line-height:30px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.panel div{
    display: flex;
    align-items: center;
    gap: 24px;
}
.panel div .call{
    max-width: 173px;
    height: auto;
    border-radius: 109px;
    padding: 12px 34px;
    gap:10px;
    background-color: rgba(60, 171, 144, 1);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.panel div .call:hover {
    background-color: rgba(50, 150, 130, 1); /* Darker hover effect */
}

/* Request a Call Back Button */
.panel div .request {
    max-width: 220px;
    height: auto; /* Let the height adapt to the content */
    border-radius: 109px;
    padding: 12px 34px;
    background-color: rgba(255, 187, 28, 1);
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.panel div .request:hover {
    background-color: rgba(235, 160, 20, 1); /* Darker hover effect */
}
/* header */

/* home */

/* first section  */
.first_section , .third_section {
    justify-items: center;
}
.installers{
    max-width: 1135.52px;
    /* height: 712px; */
    padding: 80px;
    display: flex;
    justify-items:center;
    justify-content:space-around;
    gap: 60px;
}
.installers div:first-child{
    max-width:594px;
    /* height: 476px; */
    gap:50px;
}

.installers div:first-child > div:first-child h1 ,.second_section h1 ,.third_section .solar div:first-child h1{
    font-family: 'Inter';
    font-weight: 600px;
    font-size: 42px;
    line-height: 50.83px;
    letter-spacing: -2%;
    color: rgba(16, 24, 40, 1);
}
.installers div:first-child > div:first-child p , .third_section .solar div:first-child p{
    font-family: 'Inter';
    font-weight: 400px;
    size: 16px;
    line-height:24px;
    letter-spacing:0;
    color: rgba(71, 84, 103, 1);
    ;
}

.installers div:first-child > div:last-child{
    margin-top:65px;
}
.installers div:first-child > div:last-child  span{
    font-family: 'Inter';
    font-weight: 700px;
    size: 20px;
    line-height:23.28px;
    letter-spacing:4;
    color:rgba(132, 189, 58, 1);
}
.installers div:first-child > div:last-child p{
    font-family: 'Inter';
    font-weight:600;
    size: 20px;
    line-height:30px;
    letter-spacing:0;
    color:rgba(16, 24, 40, 1);
}

.installers > div:last-child{
    max-width: 518.52px;
    height: 552px;
    border-radius: 12px;
    position: relative;

}
.installers > div:last-child div{
    position: absolute;
    background-color: rgba(255, 187, 28, 1);
    max-width: 266px;
    max-height:208px;
    top:322px;
    left: -70px;
    border-radius: 12px;
    padding: 24px 30px;
    gap: 28px;

}
.installers > div:last-child div img{
    width: 90px;
    height: 90px;
}
.installers > div:last-child div{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height:20.95px;
    letter-spacing:0.94px;
    color: rgba(42, 51, 52, 1);
}
/* first section  */
/* second section */
.second_section{
    display: flex;
    background-image: url("./images/81161.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    gap: 10px;
    height: 550px;
    align-items: center;
}
.second_section div{
    gap: 32px;
    max-width:700px;
    height: 240px;
    margin-left: 160px;
}
.second_section h1 , .second_section p{
    color: rgba(255, 255, 255, 1) ;
}
.second_section p{
    font-family: 'Inter';
    font-weight: 500px;
    font-size: 20px;
    line-height:28px;
    letter-spacing:0;
    justify-self:center;
}
.second_section button{
    border-radius: 109px;
    padding: 12px 34px;
    gap: 10px;
    background-color: rgba(255, 187, 28, 1);
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing:8%;
}
/* third section */

.third_section .solar{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    height: 777px;
    padding: 60px 0;
    justify-items:center;
    gap: 40px;
}
.solar div:first-child h1{
    text-align: center;
}

.third_section .solar div:last-child{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
    column-gap:32px;
}
.third_section .solar div:last-child > div{
    box-shadow: 2px 2px 5px gray, -2px -2px 5px white;
}
.third_section .solar div:last-child > div h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing:0;
    padding-left: 20px;
}
.third_section .solar div:last-child > div p ,.third_section .solar div:last-child a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing:0;
    color: rgba(71, 84, 103, 1);
    padding-left: 20px;
}
.third_section .solar div:last-child > div a {
    display: flex;
    color: rgba(60, 171, 144, 1);
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    align-items: center;
    gap: 8px;
}
/* home */

